.team-selection-alert {
  .alert-wrapper {
    --min-width: 30%;
    --max-width: 90%;
    --width: 600px;
  }
  .alert-checkbox-group {
    /* --min-width: 70%; */
    max-height: unset;
  }

  .select-interface-option {
    border-bottom: 1px solid var(--ion-color-light);
    &:last-of-type {
      border-bottom: none;
    }

    .alert-checkbox-label {
      font-size: small;
    }
  }
}

.team-selection-ionselect {
  // this matches the .select-text that is rendered in the shadow dom
  &::part(text),&::part(placeholder) {
    display: none;
    flex: 0 0 auto;
  }
}